<a href="https://colab.research.google.com/github/HongKyungseo/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import requests

In [35]:
URL = ('http://apis.data.go.kr/B553766/smt-schedule/'
'schedule?'
'serviceKey=lh0wm41g5u%2FdlwuKTc8f6NZq62PdN5tXfl1oFZzjNptn1LRgImbp4hjYqZ%2FeUvavkA0yS3HwvfRMrycxE%2Fc%2BCQ%3D%3D'
'&numOfRows=10'
'&pageNo=1'
'&stationCode=2640'
'&week=DAY')

In [25]:
response = requests.get(URL)

In [26]:
response

In [27]:
r = requests.get(URL)

In [ ]:
r = response.json()
r

In [39]:
print(type(r))

<class 'dict'>

dict는 key와 value 값으로 이루어져 있음.

In [40]:
items = r['data']

In [41]:
items[0]

{'station_code': '2640',
 'station_line': '6',
 'station_name': '안암',
 'train_arrtime': '053000',
 'train_code': '6008',
 'train_departure': '안암',
 'train_deptime': '053000',
 'train_destination': '응암',
 'train_direction': 'UP',
 'train_express': '0',
 'week': 'DAY'}

In [43]:
import pandas as pd

In [44]:
items = r['data']

In [45]:
stationcode = [item['station_code'] for item in items]
stationline = [item['station_line'] for item in items]
stationname = [item['station_name'] for item in items]
arrtime = [item['train_arrtime'] for item in items]
traincode = [item['train_code'] for item in items]
departure = [item['train_departure'] for item in items]
deptime = [item['train_deptime'] for item in items]
destination = [item['train_destination'] for item in items]
direction = [item['train_direction'] for item in items]
express = [item['train_express'] for item in items]
week = [item['week'] for item in items]

In [46]:
Stationcode = pd.Series(stationcode)
Stationline = pd.Series(stationline)
Stationneame = pd.Series(stationname)
Arrivetime = pd.Series(arrtime)
Traincode = pd.Series(traincode)
Departure = pd.Series(departure)
Deptime = pd.Series(deptime)
Destination = pd.Series(destination)
Direction = pd.Series(direction)
Express = pd.Series(express)
Week = pd.Series(week)

In [47]:
df = pd.DataFrame ({'stationcode':stationcode, 'station_line':stationline, 'station_name':stationname, 'train_Arrtime':arrtime,'train_code':traincode, 'train_departure':departure, 'train_deptime': deptime, 'train_destination':destination, 'train_direction':direction, 'train_express':express, 'week':week})

In [48]:
df

,stationcode,station_line,station_name,train_Arrtime,train_code,train_departure,train_deptime,train_destination,train_direction,train_express,week
0,2640,6,안암,053000,6008,안암,053000,응암,UP,0,DAY
1,2640,6,안암,053700,6010,상월곡,053730,응암,UP,0,DAY
2,2640,6,안암,054350,6012,봉화산,054420,응암,UP,0,DAY
3,2640,6,안암,055050,6014,봉화산,055120,응암,UP,0,DAY
4,2640,6,안암,055750,6016,신내,055820,응암,UP,0,DAY
5,2640,6,안암,060450,6018,봉화산,060520,응암,UP,0,DAY
6,2640,6,안암,061150,6020,봉화산,061220,응암,UP,0,DAY
7,2640,6,안암,061850,6022,신내,061920,응암,UP,0,DAY
8,2640,6,안암,062450,6024,봉화산,062520,응암,UP,0,DAY
9,2640,6,안암,063050,6026,신내,063120,응암,UP,0,DAY

In [ ]:
!pip install gradio 
import gradio as gr

In [50]:
def test (stationCode):
  URL = ('http://apis.data.go.kr/B553766/smt-schedule/'
  'schedule?'
  'serviceKey=lh0wm41g5u%2FdlwuKTc8f6NZq62PdN5tXfl1oFZzjNptn1LRgImbp4hjYqZ%2FeUvavkA0yS3HwvfRMrycxE%2Fc%2BCQ%3D%3D'
  '&numOfRows=10'
  '&pageNo=1'
  '&stationCode='+stationCode+
  '&week=DAY')

  response = requests.get(URL)
  r=response.json()
  items = r['data']

  stationcode = [item['station_code'] for item in items]
  stationline = [item['station_line'] for item in items]
  stationname = [item['station_name'] for item in items]
  arrtime = [item['train_arrtime'] for item in items]
  traincode = [item['train_code'] for item in items]
  departure = [item['train_departure'] for item in items]
  deptime = [item['train_deptime'] for item in items]
  destination = [item['train_destination'] for item in items]
  direction = [item['train_direction'] for item in items]
  express = [item['train_express'] for item in items]
  week = [item['week'] for item in items]

  Stationcode = pd.Series(stationcode)
  Stationline = pd.Series(stationline)
  Stationneame = pd.Series(stationname)
  Arrivetime = pd.Series(arrtime)
  Traincode = pd.Series(traincode)
  Departure = pd.Series(departure)
  Deptime = pd.Series(deptime)
  Destination = pd.Series(destination)
  Direction = pd.Series(direction)
  Express = pd.Series(express)
  Week = pd.Series(week)

  df = pd.DataFrame ({'stationcode':stationcode, 'station_line':stationline, 'station_name':stationname, 'train_Arrtime':arrtime,'train_code':traincode, 'train_departure':departure, 'train_deptime': deptime, 'train_destination':destination, 'train_direction':direction, 'train_express':express, 'week':week})
  return df

In [53]:
iface = gr.Interface (test, gr.inputs.Dropdown (['0150','0151', '0152', '0222', '2640', '2641']), outputs = ['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://47355.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7f738d9542d0>,
 'http://127.0.0.1:7860/',
 'https://47355.gradio.app')