<a href="https://colab.research.google.com/github/HongKyungseo/20220316/blob/main/20220316_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Variables -> numbers, string (문자), list, dict

**1.1. numbers** -> 정수는 int로 표현

In [ ]:
a=1
print (type(a))

<class 'int'>

In [ ]:
b=1.0
print(type(b))

<class 'float'>

실수는 float, 정수는 int라고 표현됨

**1.2. string**

In [ ]:
c=123 ;d='123'

In [ ]:
print (type(c))
print (type(d))

<class 'int'>
<class 'str'>

' ' 인용부호와 함께 입력하면 숫자도 string이 됨. d의 경우 세 숫자로 이루어져 있으므로 3 chars

In [ ]:
e='strawberry'
print (type(e))

<class 'str'>

In [ ]:
e='apple'
e.upper()

'APPLE'

대문자로 변경

In [ ]:
e[1]+e[3]+e[3:]*3

'pllelele'

In [ ]:
e='I am studying now in the cafe '

In [ ]:
result1 = e.find('now')
result2 = e.find('cafe')
print(result1); print(result2)

14
25

해당 단어 찾기. 빈칸 포함해서 카운팅

In [ ]:
f=e.strip()
print(f)

I am studying now in the cafe

문장부호나 필요없는 스페이스를 없애줌.

In [ ]:
g=f.split(' ')
print(g)

['I', 'am', 'studying', 'now', 'in', 'the', 'cafe']

In [ ]:
h=' '.join(g)
h

'I am studying now in the cafe'

In [ ]:
i=h.replace('cafe', 'house')
print(i)

I am studying now in the house

**1.3. list**

In [ ]:
f=['a', a, 'ef',[2,3], 5, 'hi']
print(type(f))

<class 'list'>

[  ]로 정의되면 list. list에는 숫자나 문자를 여러개 담을 수 있음. list도 하나의 item으로서 list 안에 들어갈 수 있음. 
위의 f에서 a는 위에 정의된 a를 의미하고, 'a'는 새로운 문자를 의미.

In [ ]:
print(f[3]); print(f[0]); print(f[1]); print(f[-1]); print(f[-4])

[2, 3]
a
1
hi
ef

In [ ]:
print(f[1:4]); print(f[2:]); print(f[0:-1]); print(f[:5]); print(f[:])

[1, 'ef', [2, 3]]
['ef', [2, 3], 5, 'hi']
['a', 1, 'ef', [2, 3], 5]
['a', 1, 'ef', [2, 3], 5]
['a', 1, 'ef', [2, 3], 5, 'hi']

리스트 내에서 특정 범위를 설정하는 방법. -1은 마지막 항목을 의미. 범위에서 뒷 부분의 숫자는 포함되지 않음

In [ ]:
print(f[3][0])

2

In [ ]:
print(len(f))
print(len(f[2]))

6
2

리스트 내의 리스트에서도 특정 item만 선정해 꺼낼 수 있음
len은 list의 길이를 구하는 함수

In [ ]:
g='123456789'
print(type(g)), print(g[4])

<class 'str'>
5

(None, None)

string에서도 동일한 방법으로 적용가능

In [ ]:
h=(1,2,3)
print(type(h))

<class 'tuple'>

[  ]가 (   )로 바뀌면 tuple임. 리스트와 매우유사한데 내부 바꾸기를 못한다는 차이가 있음

**1.4. dict**

In [ ]:
i =	{"a": "apple", "b": "banana", "c": 2022}
print(type(i))
print(i["a"])

<class 'dict'>
apple

" "나 ' '중에 무엇을 쓰던 상관없음. 섞어서 쓰는 것은 안됨. 
Dict는 key와 Value로 이루어져 있음. dict는 list나 string과 달리 몇번재를 가져오는 것이 아니라 키 값을 가져오는 것이 가능한 것임.

**2. function 함수**

def 함수명 (입력변수명) : return 내용
의 형식으로 함수를 정의할 수 있음.

In [ ]:
def add(a,b) : return a+b+3

In [ ]:
c= add (4, 2)
print(c)

9

이미 정해져 있는 함수와 이름이 겹치더라도 내가 원하는대로 새롭게 정의 가능.

**3. syntax**

반복문(for)과 조건문(if)로 나뉨

**3.1. for**

In [ ]:
b = [1, 2, 3, 4]
for i in b:
  print(i)

1
2
3
4

b의 각 항목을 차례대로 a에 넣는다는 의미 (for ~ in 구조)

In [153]:
a = [1, 23, 345, 16]
for i in range(len(a)):
  print(a[i])

1
23
345
16

In [154]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

range(4)가 i에 차례차례 들어간다고 생각하면 됨

In [ ]:
a=range(5); list(a)

[0, 1, 2, 3, 4]

In [ ]:
 b=range(2,10); list (b)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
c=range(0,12,2)
list(c)

[0, 2, 4, 6, 8, 10]

In [155]:
a = [1, 23, 345, 16]
range(1)

range(0, 1)

range는 범위를 지정하는 자료형. 범위에서 마지막 숫자는 포함되지 않음. 매개변수의 의미에 따라서 의미가 조금씩 다름

**3.2. if**

In [156]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

=은 왼쪽을 오른쪽에 assign한다는 의미. 실제로 equal의 의미로 사용할때는 ==라고 표시해야함. !=는 아니다라는 의미

In [159]:
a = 5
if a == 0:
    print(a)
else:
    print(a+1)

6

In [160]:
a = 5
if a != 0:
    print(a)
else:
    print(a+1)

5

In [161]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [162]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

for문을 중첩해서 사용할 수 있음

list comprehension: list 안쪽에 for문이 들어있음

In [163]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [164]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

dict comprehension: dict 안에 for문이 들어있음

+dict는 중괄호로 묶여 있음

In [165]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
print(c)

{'red': 1, 'green': 2, 'blue': 3, 'purple': 4}

range(4)=[0,1,2,3]

a[0]:b[0], a[1]:b[2], a[2]:b[2], a[3]:b[3]

결과값의 순서는 중요하지 않음.

**4. package**